<!--
title: Dynamic Content Component - TreeGrid
description: Lightning Web Component designed for interacting with hierarchical Data within Salesforce
published: true
date: 2021-11-10T13:10:47.617Z
tags: 
editor: ckeditor
dateCreated: 2021-11-10T12:57:44.178Z
-->

<h1>Background Information</h1>
<p>&nbsp;</p>
<h1>Usage Notes&nbsp;</h1>
<p>Test 2342</p>
<h1>API</h1>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>NAME</strong></td>
        <td><strong>TYPE</strong></td>
        <td><strong>DEFAULT</strong></td>
        <td><strong>DESCRIPTION</strong></td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Events</h1>
<h3>Raised (You subscribe to these)</h3>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Description</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Methods</h1>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>ARGUMENTS</th>
        <th>DESCRIPTION</th>
      </tr>
    </thead>
  </table>
</figure>
