<!--
title: Advanced Renderer
description: 
published: true
date: 2020-08-04T15:27:01.961Z
tags: advancedrenderer, component
editor: ckeditor
-->

<h1>Advanced Renderer</h1>
<h3>&nbsp;</h3>
<h3>Background Information</h3>
<p>The Advanced Renderer was created for complex development scenarios.&nbsp;</p>
<figure class="image"><img src="/advancedrenderer_(context_actionmenu_.png"></figure>
<p>Advanced Renderer was created to allow for the manipulation of a 3D scene within the context of a Salesforce interaction. By default, the component looks similar to the SimpleRenderer</p>
<h3>&nbsp;</h3>
<h3>API</h3>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>TYPE</th>
        <th>ACCESS</th>
        <th>REQUIRED</th>
        <th>DEFAULT</th>
        <th>DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>environmentColor</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>overrideURL</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>allowSelection</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>userInteracted</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>useCommunities</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>contentVersionId</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>contextDetailHeaderText</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>size</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>brandImageURL</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>showUserMessages</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h4>Aura Events</h4>
<p>&nbsp;</p>
<h4>Attributes</h4>
<p>&nbsp;</p>
<h3>Example</h3>
<p>&nbsp;</p>
<h3>Usage Notes / When to use</h3>
<p>Advanced Renderer should be used</p>
