<!--
title: Advanced Renderer
description: The
published: true
date: 2020-09-21T12:11:58.031Z
tags: advancedrenderer, component, slots, events
editor: ckeditor
dateCreated: 2020-09-18T21:21:42.005Z
-->

<h1>Background Information</h1>
<p>The Advanced Renderer was created for more complex development and interaction scenarios than the SimpleRenderer component. SimpleRenderer was created for displaying 3D drawings and allowing interaction without events or selection of components within the drawing itself. &nbsp; &nbsp;</p>
<p>Advanced Renderer was created to allow for the manipulation of a 3D scene within the context of a Salesforce interaction. This can be displayed using our Slot UI framework which is detailed below.</p>
<h1>Usage Notes&nbsp;</h1>
<p>Advanced Renderer should be used in any custom development scenario. This component was created to allow for the contextual interaction with other data within Salesforce. If you need a custom interaction beyond 3D visualization, this component is likely what you will be using. AdvancedRenderer can be utilized in simple rendering scenarios as well, with the option of utilizing slots.</p>
<h2>Slots</h2>
<p>AdvancedRenderer was designed for extensibility, with that in mind, solving for every use case isn't really possible without knowing how each implementation and custom project needs to display 3D within Salesforce. Salesforce Lightning components are composable, and the AdvancedRenderer has prebuilt slots for you to pass custom components into.&nbsp;</p>
<p>&nbsp;</p>
<p><code>```plantuml</code></p>
<p><code>@startuml</code></p>
<p><code>skinparam backgroundColor White</code></p>
<p><code>skinparam state {</code></p>
<p>&nbsp;</p>
<p><code>&nbsp;BackgroundColor LightBlue</code></p>
<p><code>&nbsp;BackgroundColor&lt;&lt;Warning&gt;&gt; LightYellow</code></p>
<p><code>&nbsp;BorderColor Gray</code></p>
<p><code>&nbsp;FontName Impact</code></p>
<p><code>}</code></p>
<p>&nbsp;</p>
<p><code>hide empty description</code></p>
<p><code>State Display_Records as "Display Records"</code></p>
<p><code>State Select_Record as "User Selects Record"</code></p>
<p><code>State User_Selects_Component as "User Selects part of a 3D drawing"</code></p>
<p><code>State Display_related_Actions as "Display any related actions"</code></p>
<p><code>State User_Selects_Action as "User selects a custom action \nfor more information"</code></p>
<p><code>State Display_Additional_Information as "Display custom information \nabout selected subcomponent"</code></p>
<p>&nbsp;</p>
<p><code>[*] --&gt; Display_Records : Fetch a list of records,\ne.g. Order Items</code></p>
<p><code>Display_Records : These can be any record type</code></p>
<p><code>Display_Records : A default 3D model can be displayed or static image</code></p>
<p><code>Display_Additional_Information: e.g. Warranty or other record information</code></p>
<p><code>Display_Records -right-&gt; Select_Record</code></p>
<p><code>Select_Record -right-&gt; User_Selects_Component : Update 3D scene \n&amp; interaction</code></p>
<p><code>User_Selects_Component -right-&gt; User_Selects_Action : Display any related actions</code></p>
<p><code>User_Selects_Action -right-&gt; Display_Additional_Information</code></p>
<p><code>Display_Additional_Information -up-&gt;[*] : User finishing activity \ne.g. order replacement part</code></p>
<p><code>@enduml</code></p>
<p><code>```</code></p>
<figure class="image"><img src="/advancedrenderer_(context_actionmenu_.png"></figure>
<p>These slots were meant to be used as needed, and data surrounding what we are rendering is supposed to flow from left to right, starting with ContextContent (1) and concluding on the Sidebar Content (4) with some interaction in between.&nbsp;</p>
<h3>Context Content (1)</h3>
<p>The ContextContent slot is meant to provide high-level information to the user regarding what the 3D model is supposed to represent. Some examples of what has been used in the ContextContent Slot in past projects include&nbsp;</p>
<ul>
  <li>Lists of Salesforce Objects that, once selected, update what rendering is displayed</li>
  <li>Configuration options for a product to modify the 3D object/scene</li>
</ul>
<p>Because of the recurring theme of searching for details that reside in a list of information, we have created the <strong>ContextContentDetails</strong> slot as well, which is displayed in the same area (1) that the ContextContent component is displayed, the only difference is an additional back button (that raises <a href="/events/EVT_Renderer_Context_Details_Closed">EVT_Renderer_Context_Details_Closed)</a>, and displayed header text to provide your user some context &nbsp;(attribute <strong>contextDetailHeaderText).</strong></p>
<h3><strong>Action Information Pane (3)</strong></h3>
<p>The horizontal slot available above the 3D model, which is typically used for Actions related to what is being rendered (e.g. Create a Case). Using attribute <strong>displayActionInformationPaneOnSelection</strong> will automatically display the ActionInformationPane when a user selects a component using <strong>ComponentTouch.</strong>&nbsp;</p>
<p>We suggest limiting the height of components passed into this slot to approximately ⅓ of the parents components overall height, as the ActionInformationPane shares vertical space with the rendered content, and the 3D element is typically the star of the show in a user's eyes.</p>
<h3>Sidebar Content (4)</h3>
<p>The Sidebar content slot provides space for additional information that is to be displayed based on an interaction in the 3D content pane.&nbsp;</p>
<p>Visibility of &nbsp;</p>
<h3>Passing components into a slot</h3>
<p>Passing components into slots are as simple as using the aura:set tag with the name of the slot you would like to use.&nbsp;</p>
<pre><code class="language-html">&lt;RDraw:AdvancedRenderer aura:id="renderer" displayContext="true"  loadingImage="{!v.loadingImage}"
 displaySidebar="{!v.showSidebar}" displayActionInformationPane="{!v.displayActions}"
 spitShine="True" allowSelection="true" recordId="{!v.recordId}"&gt;
    &lt;aura:set attribute="contextContent"&gt;
           //your component goes here for the context menu (1) 
    &lt;/aura:set&gt;
    &lt;aura:set attribute="actionInformationPane"&gt;
          //your component goes here for the ActionInformationPane (3)
    &lt;/aura:set&gt; v
    &lt;aura:set attribute="sidebarContent"&gt;
         //your component goes here for the Sidebar content (4)
    &lt;/aura:set&gt;
 &lt;/RDraw:AdvancedRenderer&gt;</code></pre>
<h1>API</h1>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>NAME</strong></td>
        <td><strong>TYPE</strong></td>
        <td><strong>REQUIRED</strong></td>
        <td><strong>DEFAULT</strong></td>
        <td><strong>DESCRIPTION</strong></td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>actionInformationPane</h2>
        </td>
        <td>component[]</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The horizontal slot available above the 3D model. This is typically used for Actions related to what is being rendered (e.g. Create a Case)</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>allowSelection</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Allow the selection of subcomponents either by ComponentTouch(Click) or programmatically using the selectComponent method</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>brandImageURL</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The branded logo image displayed in the bottom right corner of the rendering components. Pass an empty string if no branding is desired.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>contentVersionId</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The content version to render (if rendering from Salesforce servers/files). Using contentversionid will bypass the standard recordId and the overrideURL</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>contextContent</h2>
        </td>
        <td>component[]</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The Salesforce Lightning components to be displayed on the context pane (left side slot, representing context to what is being rendered.)</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>contextDetailContent</h2>
        </td>
        <td>component[]</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The Salesforce Lightning components to be displayed on the context detail pane (left side slot, representing details to the context of what is being rendered.) This is typically displayed based on some action that happened within the contextContent compontrets, e.g. list order items, then dive into the details of a particular line.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>contextDetailHeaderText</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>Details</td>
        <td>The header text that is displayed next to the back button on the contextDetail facet. This describes the content that is passed via contextDetailsContent, typically the name of a line item or detail item within a list presented in the contextContent</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displayActionInformationPane</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Whether or not to display the Action information pane slot (top slot) and components passed into actionInformationPane parameter</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displayActionInformationPaneOnSelection</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>TRUE</td>
        <td>Whether or not to display the Action information pane slot (top slot) when a selection is made via ComponentTouch or programmatically</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displayContext</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Whether or not to display the context slot (left side slot) and components passed into contextContent parameter</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displayContextDetails</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Whether or not to display the context slot details and components passed into contextDetailContent parameter. Use this for displaying detail components related to contextContent, e.g. Line item details for for an order item listed in contextContent. This cannot be used at the same time as displayContext</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displaySidebar</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Whether or not to display the sidebar slot (right side slot) and components passed into sidebarContent parameter</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>environmentColor</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>#E6F1F4</td>
        <td>The background color of the 3D environment. Use Hex code format, such as #ffffff</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>loadingImage</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The image URL to display while the 3D model is loading</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>nodeIgnoreList</h2>
        </td>
        <td>string[]</td>
        <td>&nbsp;</td>
        <td>[]</td>
        <td>A list of strings that contain names of nodes to ignore when traversing the 3D structure during ComponentTouch or Finding a component by name</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>overrideURL</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The absolute URL to render.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>recordId</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Id of the Salesforce Record in which you fetch the associated rendering (Using relationships)</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>showUserMessages</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Show rendering related messages to the user. This is typically used in debug scenarios</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>sidebarContent</h2>
        </td>
        <td>component[]</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>The vertical slot available to the right of the 3D model. This is typically used for Detailed information related to the result of a ComponentTouch on a model (e.g. selection of a subcomponent within a model for checking on warranty information).</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>size</h2>
        </td>
        <td>string</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Size of the component, either Stretch, Small, Medium, Large, Jumbo</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>spitShine</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Add a shine to your model, even if the materials loaded have no reflection</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>useCommunities</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>Fixes the fetching of files and metadata when utilizing a Community</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>userInteracted</h2>
        </td>
        <td>boolean</td>
        <td>&nbsp;</td>
        <td>FALSE</td>
        <td>Whether or not a user has interacted with the drawing</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Events</h1>
<h2>Raised (You subscribe to these)</h2>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td>Name</td>
        <td>Type</td>
        <td>Description</td>
      </tr>
      <tr>
        <td>rendererLoaded</td>
        <td><a href="/events/EVT_Renderer_Loaded">RDraw:EVT_Renderer_Loaded</a></td>
        <td>This event is raised after the renderer has fully loaded. This includes loading the initial model, setting the scenes and applying any scene effects assigned via component attributes.</td>
      </tr>
      <tr>
        <td>componentSelected</td>
        <td><a href="/events/EVT_Renderer_Mesh_Selected">RDraw:EVT_Renderer_Mesh_Selected</a></td>
        <td>Raised when a component within a 3D scene is selected. This takes into account the nodeIgnoreList as it traverses the 3D node hierarchy where a user clicks using ComponentTouch.&nbsp;</td>
      </tr>
      <tr>
        <td>selectionCleared</td>
        <td><a href="/events/EVT_Renderer_Mesh_Selection_Cleared">RDraw:EVT_Renderer_Mesh_Selection_Cleared</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>hierarchyFetched</td>
        <td><a href="/events/EVT_Renderer_Get_Hierarchy">RDraw:EVT_Renderer_Get_Hierarchy</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>getCameraPostionandTarget</td>
        <td><a href="/events/EVT_Renderer_Get_CameraPositionandTarget">RDraw:EVT_Renderer_Get_CameraPositionandTarget</a></td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h1>Methods</h1>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>ARGUMENTS</th>
        <th>DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="vertical-align:top;">
          <h2>addModelToScene</h2>
        </td>
        <td>
          <p><strong>nodeName</strong></p>
          <p>string</p>
          <p>The name of the node of the 3D node after loading</p>
          <p><strong>URL</strong></p>
          <p>string</p>
          <p>The URL of the of the 3D model to load</p>
          <p><strong>fileName</strong></p>
          <p>string</p>
          <p>The file name and extension of the of the 3D model being loaded</p>
          <p><strong>parentNodeUniqueId</strong></p>
          <p>string</p>
          <p>The name of the parent node of the 3D node after loading</p>
          <p><strong>positionX</strong></p>
          <p>double</p>
          <p>The x-coordinate position to load the model in</p>
          <p><strong>positionY</strong></p>
          <p>double</p>
          <p>The y-coordinate position to load the model in</p>
          <p><strong>positionZ</strong></p>
          <p>double</p>
          <p>The z-coordinate position to load the model in</p>
          <p><strong>rotationX</strong></p>
          <p>double</p>
          <p>The rotation on the X axis of the model to load</p>
          <p><strong>rotationY</strong></p>
          <p>double</p>
          <p>The rotation on the Y axis of the model to load</p>
          <p><strong>rotationZ</strong></p>
          <p>double</p>
          <p>The rotation on the Z axis of the model to load</p>
          <p><strong>scaleX</strong></p>
          <p>double</p>
          <p>The scale on the X axis of the model to load</p>
          <p><strong>scaleY</strong></p>
          <p>double</p>
          <p>The scale on the Y axis of the model to load</p>
          <p><strong>scaleZ</strong></p>
          <p>double</p>
          <p>The scale on the Z axis of the model to load</p>
        </td>
        <td>Add an additional model to the scene.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>addWidget</h2>
        </td>
        <td>
          <p><strong>name</strong></p>
          <p>string</p>
          <p><strong>type</strong></p>
          <p>string</p>
          <p><strong>positionX</strong></p>
          <p>string</p>
          <p><strong>positionY</strong></p>
          <p>string</p>
          <p><strong>positionZ</strong></p>
          <p>string</p>
          <p><strong>rotationX</strong></p>
          <p>double</p>
          <p>The rotation on the X axis of the Widget</p>
          <p><strong>rotationY</strong></p>
          <p>double</p>
          <p>The rotation on the Y axis of the Widget</p>
          <p><strong>rotationZ</strong></p>
          <p>double</p>
          <p>The rotation on the Z axis of the Widget</p>
          <p><strong>scaleX</strong></p>
          <p>double</p>
          <p>The scale on the X axis of the Widget</p>
          <p><strong>scaleY</strong></p>
          <p>double</p>
          <p>The scale on the Y axis of the Widget</p>
          <p><strong>scaleZ</strong></p>
          <p>double</p>
          <p>The scale on the Z axis of the Widget</p>
        </td>
        <td>Still in our 'labs' status. Adds a widget to our scene. More to come</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>aimCamera</h2>
        </td>
        <td>
          <p><strong>x</strong></p>
          <p>double</p>
          <p>The cameras focus on the X-Axis</p>
          <p><strong>y</strong></p>
          <p>double</p>
          <p>The cameras focus on the Y-Axis</p>
          <p><strong>z</strong></p>
          <p>double</p>
          <p>The cameras focus on the Z-Axis</p>
          <p><strong>nodeName</strong></p>
          <p>string</p>
          <p>The name of the 3D node to focus on</p>
        </td>
        <td>Aim the camera in 3D space either at a component or some coordinates.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>displayMedia</h2>
        </td>
        <td>
          <p><strong>imageURL</strong></p>
          <p>string</p>
          <p>The fully qualified url of the image to display, e.g. https://files.renderdraw.us/public/images/2020RDLogo.png</p>
          <p><strong>allowClose</strong></p>
          <p>boolean</p>
          <p>Allow for users to close the displayed media</p>
        </td>
        <td>Display related media instead of the 3D drawing</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>getCameraPositionandTarget</h2>
        </td>
        <td>&nbsp;</td>
        <td>Fetch the camera's current position and where it is aiming.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>getHierarchy</h2>
        </td>
        <td>&nbsp;</td>
        <td>Fetch the 3D model's hierarchy. Must subscribe to RDraw:EVT_Renderer_Get_Hierarchy for response</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>hideMedia</h2>
        </td>
        <td>&nbsp;</td>
        <td>Hide displayed related media that is presented in the content area of this component</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>loadAndApplyTextureToModel</h2>
        </td>
        <td>&nbsp;</td>
        <td>Load a texture and add it to a model.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>positionCamera</h2>
        </td>
        <td>
          <p><strong>x</strong></p>
          <p>double</p>
          <p>The cameras position on the X-Axis</p>
          <p><strong>y</strong></p>
          <p>double</p>
          <p>The cameras position on the Y-Axis</p>
          <p><strong>z</strong></p>
          <p>double</p>
          <p>The cameras position on the Z-Axis</p>
          <p><strong>alpha</strong></p>
          <p>double</p>
          <p>Defines the camera rotation along the logitudinal axis</p>
          <p><strong>beta</strong></p>
          <p>double</p>
          <p>Defines the camera rotation along the latitudinal axis</p>
        </td>
        <td>Position the camera in 3D space.</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>removeComponent</h2>
        </td>
        <td>
          <p><strong>uniqueId</strong></p>
          <p>string</p>
          <p>The uniqueId to find and remove.</p>
        </td>
        <td>Removes the given component from a scene</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>resetCamera</h2>
        </td>
        <td>&nbsp;</td>
        <td>Reset the camera to it's initial position in the scene</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>selectComponent</h2>
        </td>
        <td>
          <p><strong>name</strong></p>
          <p>string</p>
          <p>The name of the node to select. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>id</strong></p>
          <p>string</p>
          <p>The id of the node to select. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>uniqueId</strong></p>
          <p>string</p>
          <p>The uniqueId of the node to select. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>context</strong></p>
          <p>object</p>
          <p><strong>ignoreList</strong></p>
          <p>string[]</p>
          <p>The list of node names to skip when traversing the 3D model to find the node</p>
        </td>
        <td>Programmatically select a component node within the 3D model. Raises RDraw:EVT_Renderer_Mesh_Selected on successful selection</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>toggleEnableComponent</h2>
        </td>
        <td>
          <p><strong>name</strong></p>
          <p>string</p>
          <p>The name to enable/disable. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>id</strong></p>
          <p>string</p>
          <p>The id to enable/disable. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>uniqueId</strong></p>
          <p>string</p>
          <p>The uniqueId to enable/disable. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>isEnabled</strong></p>
          <p>boolean</p>
          <p>Ensure the component is enabled regardless of its current state</p>
        </td>
        <td>Enable or disable a given 3D node by passing a uniqueId, name or id</td>
      </tr>
      <tr>
        <td style="vertical-align:top;">
          <h2>updateComponentColor</h2>
        </td>
        <td>
          <p><strong>name</strong></p>
          <p>string</p>
          <p>The name of the node to update. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>id</strong></p>
          <p>string</p>
          <p>The id of the node to update. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>uniqueId</strong></p>
          <p>string</p>
          <p>The uniqueId of the node to update. Use only one of name, id, uniqueId (uniqueId being most specific)</p>
          <p><strong>colorHex</strong></p>
          <p>string</p>
          <p>The hex color to update the node with</p>
        </td>
        <td>Update a given 3D component node to the passed hex color code.</td>
      </tr>
    </tbody>
  </table>
</figure>
