<!--
title: File Selector
description: 
published: true
date: 2020-10-28T15:32:20.584Z
tags: component, salesforcefilesrendering, files
editor: ckeditor
dateCreated: 2020-09-18T21:21:48.022Z
-->

<h2>Description</h2>
<p>Salesforce doesn't have a file preview for 3D filetypes like GLTF, GLB, STL and OBJ. The FileSelector component allows for users to view and upload 3D files and associate them to a given record object.</p>
<h2>When to use the FileSelector&nbsp;</h2>
<p>Any time you want to display and allow users to view 3D files on a Salesforce Record.&nbsp;</p>
<h2>Attributes</h2>
<p>&nbsp;</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <td><strong>NAME</strong></td>
        <td><strong>TYPE</strong></td>
        <td><strong>REQUIRED</strong></td>
        <td><strong>DEFAULT</strong></td>
        <td><strong>DESCRIPTION</strong></td>
      </tr>
      <tr>
        <td>recordId</td>
        <td>string</td>
        <td>false</td>
        <td>&nbsp;</td>
        <td>Id of the Salesforce Record in which you fetch the associated rendering files</td>
      </tr>
      <tr>
        <td>showFileUpload</td>
        <td>boolean</td>
        <td>false</td>
        <td>TRUE</td>
        <td>Id of the Salesforce Record in which you fetch the associated rendering files</td>
      </tr>
    </tbody>
  </table>
</figure>
<p>&nbsp;</p>
