<!--
title: Simple Renderer
description: 
published: true
date: 2020-07-30T12:45:07.373Z
tags: component, simplerenderer
editor: ckeditor
-->

<h1>Simple Renderer</h1>
<h3>Description</h3>
<h3>When to use the Simple Renderer</h3>
<p>Anywhere you want to visualise information or . Although the SimpleRenderer is a global component, you likely want to develop with our <a href="/components/AdvancedRenderer">AdvancedRenderer.</a></p>
<h3>RDraw:SimpleRenderer</h3>
<p>Cards are used to apply a container around a related grouping of information.</p>
<figure class="table">
  <table>
    <tbody>
      <tr>
        <th>Support:</th>
        <td>GA</td>
      </tr>
      <tr>
        <th>Access:</th>
        <td>global</td>
      </tr>
      <tr>
        <th>Abstract:</th>
        <td>false</td>
      </tr>
      <tr>
        <th>Extensible:</th>
        <td>false</td>
      </tr>
      <tr>
        <th>Interfaces:</th>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
<h4>Attributes</h4>
<figure class="table">
  <table>
    <thead>
      <tr>
        <th>NAME</th>
        <th>TYPE</th>
        <th>ACCESS</th>
        <th>REQUIRED</th>
        <th>DEFAULT</th>
        <th>&nbsp;</th>
        <th>DESCRIPTION</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>actions</td>
        <td>component[]</td>
        <td>global</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</figure>
